<!doctype html>

<html>

	<head>
		<title>Menu</title>
		<meta charset='utf-8'>
	</head>

	<body>

		<p>Total : {{foods|length}}</p>

		{% for food in foods %}

		<h3>第{{forloop.counter}}道菜</h3>

		<ul>

            {% load myfilters%}

			<li>Food Name 	: {{food.name}}</li>
			<li>Food Price  : {{food.price}}</li>
			<li>Food Comment: {{food.comment}}</li>
			<li>Food Spice  : {{food.is_spice}}</li>

			<li>Food Spice  :
				{{ food.is_spice|yes_no:"辣/不辣"}}


			</li>

		</ul>

		{% empty %}
			<p>Empty</p>


		{% endfor %}



        {% load staticfiles %}
        <img src="{% static '/static/img/1.jpg' %}">




	</body>

</html>