<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>

    <h2>{{r.name}}的評價</h2>
    {% if r.comment_set.all %}
        <p>目前共有{{r.comment_set.all|length}}評價</p>
            <table>
                <tr>
                    <td>留言者</td>
                    <td>時間</td>
                    <td>評價</td>
                </tr>

            {%for c in r.comment_set.all%}
                <tr>
                    <td>{{c.visitor}}</td>
                    <td>{{c.date_time| date:"F J, Y"}}</td>
                    <td>{{c.content}}</td>
                </tr>

            {%endfor%}
            </table>

    {%else%}
        <p>無評價</p>
    {%endif%}


    <form action="" method="post"> {%csrf_token%}
        <table>
            <tr>
                <div class="form-group">
                <label for="visitor">留言者:</label>
                    {{ form.visitor}}
                    {{ form.visitor.errors}}
                </div>
            </tr>
            <tr>
                <div class="form-group">
               <label for="email">電子信箱:</label>
                    {{ form.email}}
                    {{ form.email.errors}}
                </div>
            </tr>
            <tr>
                <div class="form-group">
                <<label for="content">評價:</label>
                    {{ form.content}}
                    {{ form.content.errors}}
                </div>
            </tr>


        </table>

        <input type="submit" value="給予評價">


    </form>

<td><a href="/list_restaurants/">Back to the List</a></td>


</body>
</html>